.nav-header{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: bisque;
  margin-bottom: 1rem;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.encrypted-word{
  display: flex;
  justify-content: center;
  align-items: center;
}

#crypt-word{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
}

.encrypt-heading{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
}

.instruction-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
/* .instruction-container > *{
  flex: 1;
} */

.next-word{
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-word > *{
  flex: 1;
}

.next-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-button{
  border: none;
  padding: 0.75rem;
  font-size: 0.85rem;
  background-color: rgb(101, 165, 42);
  color: white;
  font-weight: 600;
}

.next-button:hover{
  cursor: pointer;
  background-color: rgb(74, 121, 29);
}

@media screen and (max-width: 800px) {
  .instructions{
    width: 100%;
  }
}